.elementor-29812 .elementor-element.elementor-element-55636ae{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-29812 .elementor-element.elementor-element-55636ae:not(.elementor-motion-effects-element-type-background), .elementor-29812 .elementor-element.elementor-element-55636ae > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F2F2;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}/* Start custom CSS */.university-content {
    padding-bottom: 15px;
}

hero-section {
    background-position: top center;}

.hero-content {
    max-width: 600px;
    margin-left: 2%;
}


.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1;
}

/* Ensure the content stays above the overlay */
.hero-section * {
    position: relative;
    z-index: 2;
}/* End custom CSS */